
html {
    min-width: 1040px;
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    position: relative;
    tab-size: 2;
    width: 100%;
    margin:0;
    padding:0;
    height:100%;
        /*padding: 10px;*/
}

h1 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -2px;
    margin: .3em 0 .1em 0;
}

h2 {
    margin-top: 2em;
}

h1, h2 {
    text-rendering: optimizeLegibility;
}

h2 a {
    color: #ccc;
    left: -20px;
    position: absolute;
    width: 740px;
}

.date {
    color: #aaa;
    margin-left: 1em;
}

a {
    color: steelblue;
}

a:not(:hover) {
    text-decoration: none;
}

.padding-L1 {
    padding-left: 1em;
}

.button {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #1f628d;
  font-size: 12px;
  background: #ffffff;
  padding: 2px 5px 2px 5px;
  border: solid #1f628d 1px;
  text-decoration: none;
  max-width: 160px;
}

.active {
  background: #1f628d;
  color: #ffffff;
}
#run_id_buttons {
  display: inline-block;
  max-width: 60%;
}
#cluster_buttons {
  display: inline-block;
	max-width: 25%;
	margin-right: 1em;
  float: left;
}
#sum_buttons {
  display: inline-block;
	max-width: 12%;
	float: right;
}
td, th {
  padding: 10px;
}

table, th, td {
  border: 1px solid black;
  margin: 0 0 4em 0;
  text-align: center;
}
table {
    border-collapse: collapse;
}
th {
  background-color: #EEEEEE;
}
tr.fail {
  background-color: rgba(255, 0, 0, 0.1);
}
tr.error {
  background-color: rgba(255, 0, 0, 0.2);
}
div#id_error {
    background-color: rgba(255, 0, 0, 0.1);
}

.snapshot {
  width: 200px;
  margin: 1em;
}

.footer {
		background-color:rgba(220, 220, 220, 1);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 40px;
		z-index:8888;
}

section {
	width: 98%;
	margin: auto;
	padding: 10px;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

div.one {
	/*width: 48%;*/
	min-height: 400px;
	float: left;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

div.two {
	/*margin-left: 52%;*/
	min-height: 400px;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.c3-axis-y-label {
	font-size: 12px;
}

.c3-axis-x-label {
	font-size: 12px;
}

#id_data_dir {
	margin-right: 2em;
}
